.wd-rounded-corners-all-around-1 {
    border-radius: 50px;
    border-width: 1px;
    padding: 4px 12px;
}

.wd-note {
    color: rgb(14, 108, 11);
}

.wd-module-assignment {
    padding: 100px;
    width: 610px;
    height: 400px;
}

.wd-module-assignment-1 {
    width: 602px;
}

.wd-assignemnt-box {
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    padding: 8px;
}

.wd-assignemnt-box-2 {
    width: 480px;
    min-width: 480px;
    max-width: 480px;
    height: 55px;
    text-align: left;
}

.wd-assignemnt-box-3 {
    width: 480px;
    min-width: 480px;
    max-width: 480px;
    padding: 8px;
}
